---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Omar Hossam | Production ready tools for businesses">
  <h1 class="font-bold p-3 text-2xl text-blue-600">Hi everyone! how are u all!</h1>
</BaseLayout>
